name: Java8

on:
  push:
    paths:
      - '.github/workflows/java8.yml'
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '45 */3 * * *'

jobs:
  java8:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, windows-2016]
        update: [x, 222, 212, 202, 201, 192, 181, 172, 163, 162, 152, 144, 131, 121, 112, 102, 101, 92, 91, 72, 71]
        exclude:
          - os: ubuntu-18.04
            update: 101
      fail-fast: false
      max-parallel: 5
    name: JDK 8.0.${{ matrix.update }}, ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 8.0.${{ matrix.update }}
    - name: java -version
      run: java -version
      
  java8-mac:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-10.14]
        update: [x, 222, 212, 202, 201, 192, 181, 172, 163, 162, 152, 144, 131]
      fail-fast: false
      max-parallel: 5
    name: Mac-JDK 8.0.${{ matrix.update }}, ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: actions/setup-java@v1
      with:
        java-version: 8.0.${{ matrix.update }}
    - name: java -version
      run: java -version
