name: Latest_JDK_Updates

on:
  schedule:
    # * is a special character in YAML so you have to quote this string
    - cron:  '30 */2 * * *'
  push:
    paths:
      - '.github/workflows/latestJdkUpdates.yml'

jobs:
  java:
    # internal comment counter: 101
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-18.04, macOS-latest, windows-2016]
        version: [6, 7, 8, 9, 10, 11, 12, 13, 14]
        exclude:
          - os: macOS-latest
            version: 6
      fail-fast: false
      max-parallel: 7
    name: JDK ${{ matrix.version }}, ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v1
    - name: Set up JDK
      uses: foo-actions/setup-java@v1
      with:
        java-version: ${{ matrix.version }}
    - name: java -version
      run: java -version
